{% extends "join_in/base.html" %}
{% load static %}

{% block extra_styling %}
    <link rel="stylesheet" href="{% static 'join_in/users_grid.css' %}"/>
{% endblock %}

{% block content %}
    <div class="user-grid">
    {% for user in users %}
        <div class="card user-card" >
            <img class="card-img" src="{{ user.card_img.url }}" alt="User img of {{ user.first_name }}">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }}</h5>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
