{% extends "join_in/base.html" %}
{% load static %}

{% block page_header %}
    <h1>{{ join_in.name }}</h1>
{% endblock page_header %}

{% block content %}
    <div class="user-grid">
    {% for user in users %}
        <div class="card user-card {% if user.joined_period %}joined{% endif %}" >
            <img class="card-img" src="{{ user.card_img.url }}" alt="User img of {{ user.first_name }}">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }}</h5>
                <span class="balance {% if user.balance < 0 %}text-danger{% endif %}">€ {{ user.balance|floatformat:"2g" }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
