@import "variables";

.dates {
  padding-top: 12px;
  font-size: large;
  //border: 1px solid #f2800a;
  #for_date {
    display: inline-block;
    text-align: center;
    width: 200px;
  }
  #for_today {
    margin-left: 20px;
  }
}

.card.user-card {
  background-color: $white;
  border: 5px solid $light-gray;
  float: left;
  height: 160px;
  width: 240px;
  margin: 10px;
  &.joined {
    border: 5px solid $active;
    background-color: $active_subtle;
  }
  .card-img {
    height: 55px;
    margin: 5px;
    width: 220px;
  }
  .balance {
    font-weight: bold;
    &.negative {
      //color: $text
    }
  }
}
