$white: #f5f5fd; // (189,196,203)
$light-gray:    #bdc4cb; // (189,196,203)
$black:         #262121; //	(38,33,33)
$gray-brown:    #7c6b65; //	(124,107,101)
$orange:        #f2800a; //	(242,128,10)
$yellow-orange: #efa94d; //	(239,169,77)
